<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Students</title>
   
 
</head>

<body>


<!-- Students Table -->
<div id="students">
    <div >
        <table class="students_table paginate-table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last Name</th>
                <th>Nationality</th>
                <th>University</th>
                <th>Active</th>
            </tr>
            </thead>
            <tbody>
      
            </tbody>
        </table>
    </div>
</div>

</body>
</html>